<!DOCTYPE html>
<html>
  <head>
    <title>Edooka - Online schools</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
  </head>
  <body>

  <header class="container">
	<nav class="navbar navbar-light bg-faded">
  		<div class='container'>
   	 		<a class='navbar-brand' href='/'>
      			Edoo<span class='light'>Ka</span>
    		</a>
    		<ul class="nav navbar-nav pull-sm-right hidden-xs-down float-xs-right">
      			<li class="nav-item">
        			<%= link_to 'Create Account', new_account_path, class: "btn btn-outline-success" %>
      			</li>
    		</ul>
        <ul class="nav navbar-nav pull-sm-right hidden-xs-down float-xs-right">
            <li class="nav-item">
            <%if user_signed_in? %>
              <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
            <% end %>
            </li>
        </ul>
  		</div>
	</nav>
  </header>

  <div class="container">
    <%= flash_messages if show_layout_flash? %>
    <div class="row">
    	<%= yield %>
    </div>
  </div>
  </body>
</html>
